.login-container{
  display: flex;
  justify-content: center;
}

.login-form{
  display: flex;
  flex-direction: column;
}

.login-form input, button{
  font-size: 1.3em;
  margin-top: 15px;
  border: 1px solid lightgray;
  padding-left: 10px;
  border-radius: 5px;
}

.login-form button{
  background-color: orange;
  color: whitesmoke;
  font-weight: 700;
  /* border: 0; */
  padding: 5px;
}

.login-form button:hover{
  background-color: orangered;
}

.login-form button:active{
  background-color: orange;
}

.error-message{
  color: red;
  text-align: center;
  margin-top: 10px;
}

.success-message{
  color: green;
  text-align: center;
  margin-top: 10px;
}